<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include('includes/header')%>
    <%- include('includes/side-drawer')%>
    <main>
      <h1>페이지를 찾을 수 없습니다</h1>
    </main>
  </body>
</html>
