<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
   <% if(!posts || posts.length === 0){%>
    <p>포스팅 된 글이 없습니다</p>
    <a class="btn" href="/new-post">새로운 글 포스팅하기</a>
    <% } else {%>
      <ol id="post-list">
        <% for(const post of posts){%>
          <li>
            <%- include('includes/post-item',{post:post})%>
          </li>
          <% } %>
      </ol>
      <% } %>
  </main> 
</body>

</html>