<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
        <h1>성공!</h1>
        <p>귀하의 레스토랑이 우리 목록에 성공적으로 추가되었습니다!</p>
      </main>
</body>
</html>