<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="styles/restaurants.css" />
</head>
<body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
        <h1>서버에 문제가 발생하였습니다.</h1>
        <p>페이지를 찾을 수 없습니다.</p>
    </main>
    
</body>
</html>